@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but still allow scrolling */
body, html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
